
/* Design for all pages */

html,body{
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Baloo Da 2','Sriracha', cursive, 'Rubik', sans-serif;
}


body{
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#selection_page, #game_page{
    display: none;
}

h1{
    font-size: 120px;
    margin: 0;
    line-height: 120px;
    color: rgb(94, 92, 92);
}

h2{
    font-size: 80px;
    margin: 0;
    line-height: 80px;
    color: rgb(94, 92, 92);
}

h3{
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    color: rgb(94, 92, 92);
}

button{
    font-family: 'Baloo Da 2','Sriracha', cursive, 'Rubik', sans-serif;
    cursor: pointer;
    outline: none;
}

input{
    outline: none;
}


/* Design for the landing page */

#main_div_username_and_password{
    padding-top: 20px;
    width: 350px;
    margin: auto;
}

.div_username_and_password{
    background-color: rgb(224, 219, 219);
    border-radius: 10px;
    width: 220px;
    margin-bottom: 5px;
    color: rgb(102, 101, 101);
}

#div_password{
    margin-top: 20px;
}

.input_username_and_password{
    border: 1px solid rgba(110, 110, 245, 0.712);
    border-radius: 10px;
    width: 350px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 253, 253, 0.486);
}
.input_username_and_password:hover{
    background-color: rgba(5, 5, 146, 0.075);
}

#username_error,#password_error{
    color: red;
    font-size: 14px;
    height: 17px;
    text-align: left;
}


#Lets_go_button{
    width: 360px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 160);
    background-color: rgb(110, 110, 245);
    color: white;
    font-size: 22px;
    margin-top: 20px;
}
#Lets_go_button:hover{
    background-color: rgba(110, 110, 245, 0.705);
    transition: 0.5s;
}
#Lets_go_button:active{
    background-color: rgb(110, 110, 245);
    transition: none;
}

#language_div{
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 60px;
    color: rgb(94, 92, 92);
    cursor: pointer;
    position: relative;
}

#language_buttons{
    position: absolute;
    top: -40px;
    height: 65px;
    width: 300px;
    display: none;
}

.language_button{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 160);
    background-color: rgb(110, 110, 245);
    color: white;
    font-size: 18px;
    margin-left: 7px;
    margin-right: 7px;
}
.language_button:hover{
    background-color: rgba(110, 110, 245, 0.705);
    transition: 0.5s;
}
.language_button:active{
    background-color: rgb(110, 110, 245);
    transition: none;
}

/* Makes the game responsive */

@media (max-width: 500px){

    body{
        padding: 10px;
        min-width: 300px;
    }

    h1{
        font-size: 65px;
        line-height: 55px;
        padding-bottom: 40px;
    }

    h3{
        font-size: 27px;
        line-height: 27px;
        padding: 20px;
    }

    #main_div_username_and_password{
        width: 250px;
    }

    .div_username_and_password{
        width: 185px;
        font-size: 14px;
        border-radius: 7px;
    }

    .input_username_and_password{
        width: 245px;
    }

    #Lets_go_button{
        width: 245px;
    }

}





