
/* Design for all pages */

html,body{
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Baloo Da 2','Sriracha', cursive, 'Rubik', sans-serif;
}


body{
    background-image: url('background.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#selection_page,
/* #landing_page
{
    display: none;
} */

#selection_page, #game_page{
    display: none;
}

h1{
    font-size: 120px;
    margin: 0;
    line-height: 120px;
    color: rgb(94, 92, 92);
}

h2{
    font-size: 80px;
    margin: 0;
    line-height: 80px;
    color: rgb(94, 92, 92);
}

h3{
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    color: rgb(94, 92, 92);
}

button{
    font-family: 'Baloo Da 2','Sriracha', cursive, 'Rubik', sans-serif;
    cursor: pointer;
    outline: none;
}

input{
    outline: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* Design for the landing page */

#main_div_username_and_password{
    padding-top: 20px;
    width: 350px;
    margin: auto;
}

.div_username_and_password{
    background-color: rgb(224, 219, 219);
    border-radius: 10px;
    width: 220px;
    margin-bottom: 5px;
    color: rgb(102, 101, 101);
}

#div_password{
    margin-top: 20px;
}

.input_username_and_password{
    border: 1px solid rgba(110, 110, 245, 0.712);
    border-radius: 10px;
    width: 350px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 253, 253, 0.486);
}
.input_username_and_password:hover{
    background-color: rgba(5, 5, 146, 0.075);
}

#username_error,#password_error{
    color: red;
    font-size: 14px;
    height: 17px;
    text-align: left;
}


#Lets_go_button{
    width: 360px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 160);
    background-color: rgb(110, 110, 245);
    color: white;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 10px;
}
#Lets_go_button:hover{
    background-color: rgba(110, 110, 245, 0.705);
    transition: 0.5s;
}
#Lets_go_button:active{
    background-color: rgb(110, 110, 245);
    transition: none;
}

#language_div{
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 60px;
    color: rgb(94, 92, 92);
    cursor: pointer;
    position: relative;
}

#language_buttons{
    position: absolute;
    top: -40px;
    height: 65px;
    width: 300px;
    display: none;
}

.language_button{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 160);
    background-color: rgb(110, 110, 245);
    color: white;
    font-size: 18px;
    margin-left: 7px;
    margin-right: 7px;
}
.language_button:hover{
    background-color: rgba(110, 110, 245, 0.705);
    transition: 0.5s;
}
.language_button:active{
    background-color: rgb(110, 110, 245);
    transition: none;
}


/* Design for the selection page  */

#p_in_selection_page{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    color: rgb(94, 92, 92);
    word-spacing: 4px;
}

.selection_div{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: rgba(94, 92, 92, 0.185);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.buttons_Explanation{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: rgb(94, 92, 92);
}

.selection_buttons{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid rgba(110, 110, 245, 0.712);
    background-color: rgba(255, 255, 255, 0.473);
}
.selection_buttons:hover{
    background-color: rgb(110, 110, 245);
    color: white;
    transition: 0.4s;
}
.selection_buttons:active{
    background-color: rgb(48, 48, 241);
    transition: none;
}


/* Design for the game_page */

#sudoku{
    display: inline-block;
    vertical-align: bottom;
    margin-top: 30px;
}

table{
    border-collapse: collapse;
    margin: auto;
}

td{
    border: 0.5px solid rgb(94, 92, 92);
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.all_inputs{
    width: 32px;
    height: 32px;
    border: none;
    color: rgb(23, 23, 230);
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.top_1{
    border-top: 1.5px solid rgb(23, 23, 230);
}

.side_1{
    border-left: 1.5px solid rgb(23, 23, 230);
}

.side_2{
    border-right: 1.5px solid rgb(23, 23, 230);
}

.top_2{
    border-bottom: 1.5px solid rgb(23, 23, 230);
}

.game_page_buttons{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 160);
    background-color: rgb(110, 110, 245);
    color: white;
    font-size: 18px;
    margin:10px 7px 10px 7px;
}
.game_page_buttons:hover{
    background-color: rgba(110, 110, 245, 0.705);
    transition: 0.5s;
}
.game_page_buttons:active{
    background-color: rgb(110, 110, 245);
    transition: none;
}

#hint_div{
    display: inline-block;
    width: 182px;
    height: 200px;
    background-color: rgba(94, 92, 92, 0.185);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

#hint_header, #mobyle_hint_header{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 30px;
    padding: 0;     
}

#hint_Explanation, #mobyle_hint_Explanation ,#hint_left_p ,#mobyle_left_p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    color: rgb(94, 92, 92);
}

#hint_button ,#mobyle_hint_button{
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 7px;
}

#hint_span,#hint_left_span,#mobyle_hint_span,#mobyle_left_span{
    color: rgb(82, 79, 79);
    font-weight: 600;
}

#mobyle_hint_div{
    display: none;
}





/* Makes the game responsive */

@media (max-width: 500px){

    /* Design for all pages */

    body{
        padding: 10px;
        padding-top: 30px;
        min-width: 300px;
    }

    h1{
        font-size: 65px;
        line-height: 55px;
        padding-bottom: 20px;
    }

    h3{
        font-size: 27px;
        line-height: 27px;
        padding: 20px;
    }

    /* Design for the landing page */

    #main_div_username_and_password{
        width: 250px;
    }

    .div_username_and_password{
        width: 185px;
        font-size: 14px;
        border-radius: 7px;
    }

    .input_username_and_password{
        width: 245px;
    }

    #Lets_go_button{
        width: 245px;
        margin-left: 5px;
    }

    /* Design for the selection page  */

    #p_in_selection_page{
        font-size: 18px;
    }

    .selection_div{
        width: 280px;
        height: 80px;
    }

    .buttons_Explanation_header{
        font-size: 22px;
        padding: 0;
    }

    .buttons_Explanation{
        font-size: 12px;
    }

    .selection_buttons{
        width: 150px;
        height: 30px;
        margin-top: 3px;
    }

    /* Design for the game page  */

    #h1_in_game_page{
        margin-bottom: 2px;
        padding-bottom: 0;
    }

    td{
        width: 28px;
        height: 28px;
    }

    .all_inputs{
        width: 30px;
        height: 33px;
    }

    .game_page_buttons{
        width: 150px;
    }

    #hint_div{
        display: none;
    }

    #mobyle_hint_div{
        display: inline-block;
        width: 300px;
        height: 125px;
        background-color: rgba(94, 92, 92, 0.185);
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
    }

    #mobyle_hint_header{
        margin: 0;
    }

    #mobyle_hint_Explanation{
        display: inline-block;
        line-height: 18px;
    }

    #mobyle_hint_button{
        height: 14;
        width: 200px;
        padding: 0;
        margin-top: 3px;
    }

    .game_page_buttons{
        margin-top: 20px;
    }

}

@media (min-width: 1400px){

    .top_1{
        border-top: 2.0px solid rgb(23, 23, 230);
    }
    
    .side_1{
        border-left: 2.0px solid rgb(23, 23, 230);
    }
    
    .side_2{
        border-right: 2.0px solid rgb(23, 23, 230);
    }
    
    .top_2{
        border-bottom: 2.0px solid rgb(23, 23, 230);
    }

}
